@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Author of site: @ViewData["Author"]</p>
<p><strong>For more information and to consult the source code:</strong> <a href="https://github.com/VictorLCosta/OnlineSalesMvc">MyGithub</a></p>

